{% extends 'base.html.twig' %}

{% block title %}Hello ArtifactController!{% endblock %}

{% block body %}

<div class="artifact">
<h1>Artifact {{artifact_id}}</h1>
</div>
{{ summary }}
<p>Submited by : {{ submited_by }}</p>

{{form(form)}}

{% endblock %}
