{% extends 'base.html.twig' %}

{% block title %}Hello ArtifactController!{% endblock %}

{% block body %}
<h1>Artifact {{artifact_id}}</h1>
<h2>Summary</h2>
{{ summary }}
<h3>Submited by :</h3>
{{ submited_by }}
{% endblock %}
